<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dados do Agendamento</title>
</head>
<body>
  <h2>Dados do Agendamento</h2>
  <p>Nome: <span id="nome"></span></p>
  <p>Endereço: <span id="endereco"></span></p>
  <p>Telefone: <span id="telefone"></span></p>
  <p>Data de Agendamento: <span id="data"></span></p>

  <script>
    // Função para preencher os campos com os dados do formulário
    function preencherCampos() {
      // Obter os elementos do formulário
      var params = new URLSearchParams(window.location.search);
      var nome = params.get('nome');
      var endereco = params.get('endereco');
      var telefone = params.get('telefone');
      var data = params.get('data');

      // Preencher os campos com os valores do formulário
      document.getElementById("nome").textContent = nome;
      document.getElementById("endereco").textContent = endereco;
      document.getElementById("telefone").textContent = telefone;
      document.getElementById("data").textContent = data;
    }

    // Chamar a função ao carregar a página
    window.onload = preencherCampos;
  </script>
</body>
</html>
